*.log
.DS_Store
Thumbs.db
.vscode/
.idea/

Ejercicio1_PronosticoDemanda/Backend_Laravel/.env
Ejercicio1_PronosticoDemanda/Backend_Laravel/.env.backup
Ejercicio1_PronosticoDemanda/Backend_Laravel/.env.production
Ejercicio1_PronosticoDemanda/Backend_Laravel/vendor/
Ejercicio1_PronosticoDemanda/Backend_Laravel/node_modules/
Ejercicio1_PronosticoDemanda/Backend_Laravel/storage/*.key
Ejercicio1_PronosticoDemanda/Backend_Laravel/storage/pail/
Ejercicio1_PronosticoDemanda/Backend_Laravel/.phpunit.result.cache
Ejercicio1_PronosticoDemanda/Backend_Laravel/public/hot
Ejercicio1_PronosticoDemanda/Backend_Laravel/public/build
Ejercicio1_PronosticoDemanda/Backend_Laravel/public/storage
Ejercicio1_PronosticoDemanda/Backend_Laravel/auth.json

Ejercicio1_PronosticoDemanda/Cliente_CSharp/bin/
Ejercicio1_PronosticoDemanda/Cliente_CSharp/obj/

*.class
*.jar
